<footer class="bg-secondary footer mt-4">
    <div class="container">
    <div class="row pt-4 text-light footer-text" >
        
            <div class="col-sm ">
                <section id="contact_info" class=" contact_info">
                    <h6  class="col-title">Contacta con AeroAljarafe</h6 >
                    <div class="contact-info-container font-weight-normal">
                        <p class="address">Aeródromo “La Juliana” – Bollullos de la Mitacion – Sevilla</p>

                        <p class="phone">Teléfono: +34 955 692 258</p>

                        <p class="mobile">Móvil: +34 661 599 363</p>

                        <p class="web">Web: <a href="http://www.aeroaljarafe.com">
                                www.aeroaljarafe.com </a>
                        </p>
                    </div>
                    <div style="clear:both;"></div>
                </section>
            </div>
            <div class="col-sm">
                <section id="social_links-widget-2" class="footer-widget-col widget social_links">
                    <h6  class="col-title">Redes sociales</h6    >
                    <div class="social-networks">

                        <div class="social-networks-wrapper">

                            <a class="social-network-icon tooltip facebook icon-facebook"
                                href="http://www.facebook.com" data-placement="top" data-title="Facebook"
                                data-toggle="tooltip" data-original-title="" title="Facebook" aria-label="Facebook"
                                rel="noopener noreferrer" target="_self"
                                style="font-size:16px;color:#3b5998;background-color:;border-color:;"></a>


                            <a class="social-network-icon tooltip twitter icon-twitter"
                                href="http://www.twitter.com" data-placement="top" data-title="Twitter"
                                data-toggle="tooltip" data-original-title="" title="Twitter" aria-label="Twitter"
                                rel="noopener noreferrer" target="_self"
                                style="font-size:16px;color:#55acee;background-color:;border-color:;"></a>


                            <a class="social-network-icon tooltip instagram icon-instagram"
                                href="http://www.instagram.com" data-placement="top" data-title="Instagram"
                                data-toggle="tooltip" data-original-title="" title="Instagram" aria-label="Instagram"
                                rel="noopener noreferrer" target="_self"
                                style="font-size:16px;color:#3f729b;background-color:;border-color:;"></a>


                            <a class="social-network-icon tooltip youtube icon-youtube"
                                href="http://www.youtube.com" data-placement="top" data-title="Youtube"
                                data-toggle="tooltip" data-original-title="" title="YouTube" aria-label="YouTube"
                                rel="noopener noreferrer" target="_self"
                                style="font-size:16px;color:#cd201f;background-color:;border-color:;"></a>



                        </div>
                    </div>

                    <div style="clear:both;"></div>
                </section>
            </div>
            <div class="col-sm">
                <section id="nav_menu-2" class="footer-widget-col widget widget_nav_menu">
                    <div class="menu-legal-container">
                        <ul id="menu-legal" class="menu">
                            <li id="menu-item-11885"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11885"><a
                                    href="http://www.aeroaljarafe.com/aviso-legal/">Aviso legal</a></li>
                            <li id="menu-item-11886"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11886"><a
                                    href="http://www.aeroaljarafe.com/politica-privacidad/">Política de privacidad</a>
                            </li>
                            <li id="menu-item-11887"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11887"><a
                                    href="http://www.aeroaljarafe.com/politica-cookies/">Política de cookies</a></li>
                        </ul>
                    </div>
                    <div style="clear:both;"></div>
                </section>
            </div>
            <div class="col col-last-sm">
                <section id="search-3" class="footer-widget-col widget widget_search">
                    <h6  class="col-title">Búsqueda</h6  >
                    <form role="search" class="searchform search-form" method="get"
                        action="http://www.aeroaljarafe.com/">
                        <div class="search-form-content">
                            <div class="search-field search-field">
                                <label class="screen-reader-text" for="s">Buscar</label>
                                <input type="text" value="" name="s" class="s" placeholder="Buscar..." required
                                    aria-required="true" aria-label="Buscar..." />
                            </div>
                            <div class="search-button search-button">
                                <input type="submit" class="search-submit searchsubmit" value="&#xf002;" />
                            </div>
                        </div>
                    </form>
                    <div style="clear:both;"></div>
                </section>
            </div>

            <div class="clearfix"></div>
    </div> <!-- row -->
</footer> <!-- footer-widget-area -->


<footer id="footer" class="footer-copyright .container">
    <div class="row mx-auto">
        <div class="copyright-content">

            <div class="copyright-notice">
                <div>
                    Copyright 2018 Aeroaljarafe | Todos los derechos reservados | Diseñado por <a href="#">José Espejo
                        Roig</a></div>
            </div>
            <div class="social-links-footer">
                <div class="social-networks">
                    <div class="social-networks-wrapper">
                        <a class="social-network-icon tooltip facebook icon-facebook"
                            style="color:#46494a;" href="http://www.facebook.com" target="_blank"
                            rel="noopener noreferrer" data-placement="top" data-title="Facebook" data-toggle="tooltip"
                            title="Facebook"><span class="screen-reader-text">Facebook</span></a>
                        <a class="social-network-icon tooltip twitter icon-twitter"
                            style="color:#46494a;" href="http://www.twitter.com" target="_blank"
                            rel="noopener noreferrer" data-placement="top" data-title="Twitter" data-toggle="tooltip"
                            title="Twitter"><span class="screen-reader-text">Twitter</span></a>
                        <a class="social-network-icon tooltip instagram icon-instagram"
                            style="color:#46494a;" href="http://www.instagram.com" target="_blank"
                            rel="noopener noreferrer" data-placement="top" data-title="Instagram" data-toggle="tooltip"
                            title="Instagram"><span class="screen-reader-text">Instagram</span></a>
                        <a class="social-network-icon tooltip youtube icon-youtube"
                            style="color:#46494a;" href="http://www.youtube.com" target="_blank"
                            rel="noopener noreferrer" data-placement="top" data-title="YouTube" data-toggle="tooltip"
                            title="YouTube"><span class="screen-reader-text">YouTube</span></a>
                    </div>
                </div>
            </div>
            </div>
        </div> <!-- copyright-content -->
    </div> <!-- row -->
</footer> <!-- #footer -->