<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Aeroaljarafe. Central de reservas</title>
        {{!-- Aquí van los enlaces links a CSS y demás --}}
    </head>
    <body>
        {{!-- Aquí se insertarán las vistas que vayamos definiendo --}}
        {{{body}}}
    </body>
</html>