<div class="jumbotron mt-4">
    <h1 class="display-4">Aeroaljarafe. Central de reservas</h1>
    <p class="lead">Bienvenido a la central de reservas de Aeroaljarafe</p>
    <hr class="my-4">
    <p>En este sitio puedes realizar una reserva para un vuelo, con monitor o sin él, eligiendo
        el avión que esté disponible y para el que estés habilitado. Asímismo puedes anular la
        reserva y hacer el cierre del vuelo con los atps del mismo e incluso proceder al pago
        vía tarjeta de crédito o paypal</p>
    <div class="footer d-flex justify-content-end flex-column bd-highlight " >
        <a href="/api/login" class="btn btn-primary btn-lg p-2 bd-highlight">Login</a>
        <div class="entrada d-flex justify-content-end">
            <a href="/api/logup" class="p-2 bd-highlight">No tengo cuenta</a>
            <form id="enter"  enctype="multipart/form-data" name="enter">
                <input type="submit" value="Entrar"> 
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    const formEnter = document.querySelector('#enter')
    formEnter.addEventListener('submit',function(event){
        let token =""
        if ((localStorage.getItem('token')) != "")
            token = "Bearer " + localStorage.getItem('token')
        return fetch('/api/planes',{
            headers: {
                'Content-Type': "text/html",
                'Authorization': token
            }
        })
        .then(function(response) {
           return response.text()
        }).then(resBody => {
                document.write(resBody)
        })
    })
    
</script>