<form id="logup" method="post" enctype="multipart/form-data" name="logup" >
    <div class="form-group">
        <label for = "name">Nombre</label>
        <input type="text" id = "name" name="name" placeholder="Nombre" required="true" class="form-control">
    </div>
    <div class="form-group">
        <label for = "email">Email</label>
        <input type="email" name="email" id="email" placeholder="Tu email" value="mi@email.com" required="true" class="form-control">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for = "password">Password</label>
        <input type="password" name="password" id="password" placeholder="Tu contraseña" required="true" class="form-control">
    </div>
    <div class="form-group">
        <label for = "passwordConfirmation">Repita Password</label>
        <input type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="Repite tu contraseña" required="true" class="form-control" >
    </div>
    <input type="submit" value="Registrar" class="btn btn-primary">
</form>

<script type="text/javascript">
    const formLog = document.querySelector('#logup')
    //Creamos un objeto con los datos del formulario

    // AL formLog le agregamos un evento 
    formLog.addEventListener('submit',function(event){
        event.preventDefault()
        const data = new FormData(this)
        var dataObj = {}
        data.forEach(function (value, key) {
            dataObj[key] = value;
        });
        fetch('/api/signup',{
            method:'POST',
            body: JSON.stringify( dataObj ),
            headers: {'Content-Type':'application/json;charset=UTF-8'}
        })
        .then(res => 
            res.json()
        )
        .then(data => 
            console.log(data)
            localStorage.setItem('token', data.token)
        )
    })
</script>