<div class="container">
    <ul  class="list-group">
        <li class="list-group-item list-group-item-info">
            <h3 class="list-group-item-header">Marca de Aeronaves</h3>
        </li>
        <li class="list-group-item" >
            <form id="newBrand" method="POST" enctype="application/json;charset=UTF-8" name="newBrand" action="/api/brand">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for = "brand">Marca</label>
                            <input type="text" id = "brand" name="brand" placeholder="Marca de avión" required="true" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Imagen</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                            <input type= "submit" value="Cancelar" class= "link btn btn-secondary">                            
                            <input type= "submit" value="Guardar" class= "btn btn-success">
                    </div>
                </div>
            </form>  
        </li>
    </ul>
</div>