<div class="body-error">
    <div class="error-container">
        <h2><span>403</span><br />Error de autorización</h2>
        <p>¡Vaya! No estás autorizado<br /><br />
        Haz Login o regístrate si no estás registrado.</p>
    </div>
    <div class="footer-error">
        <form action="api/login">
            <input type="submit" value="Login" class="btn btn-primary">
        </form>
        <a href="api/logup">¿Aun no estás registrado?</a>
    </div>
</div>