<div
  id="{{ id }}"
  class="buttonTask d-flex flex-column "
  (mousedown)="mouseDownEvent($event)"
  (mouseup)="mouseUpEvent($event)"
  (mousemove)="mouseMoveEvent($event)"
  (click)="onClickEvent($event, showFlightTemplate)"
  title="{{ id }}"
  [ngStyle]="buttonStyle"
>
  <div class="d-flex justify-content-end actions">
    <div>
      <a> <i class="fa fa-edit  fa-1x"></i></a>
    </div>
    <div class="">
      <i class="fa fa-trash  fa-1x"></i>
    </div>
  </div>
  <div>
    <div class="hour txt" id="{{ id }}" *ngIf="height > 2">
      H. Inicio: {{ hour }}
    </div>
    <div class="tVuelo txt" id="{{ id }}" *ngIf="height > 2">
      T. Vuelo: {{ tVuelo }} min.
    </div>
  </div>
  <div
    id="{{ id }}"
    class="resizingArea mt-auto "
    [ngStyle]="{ 'height.rem': heightRsz }"
    (mouseleave)="mouseLeaveEvent($event)"
    (mousedown)="mouseDownEvent($event)"
  ></div>
</div>




<ng-template #showFlightTemplate>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Datos del vuelo</h4>
    <h5 class="modal-title" >{{ plane }}</h5>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modalRef.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #form="ngForm">
    <div class="modal-body">
      <div class="form-group">
        <div class="input-group">
          <div class="col">
            <div class="row">
              <div class="col">
                <label for="dateOfFlight">Fecha del vuelo</label>
                <div
                  class="day clickable"
                  name="dateOfFlight"
                  [attr.day]="day"
                  (click)="showDatePicker = true"
                  *ngIf="!showDatePicker"
                >
                  <h6>{{ day | date: "dd-MM-yyyy" }}</h6>
                  <input hidden="true" [(ngModel)] = "day" name="hiddenDay">
                </div>
                <div
                  class="input-group flex-nowrap getDay"
                  *ngIf="showDatePicker"
                >
                  <input
                    name="datePickerForm"
                    type="date"
                    class="form-control"
                    aria-describedby="addon-wrapping"
                    (ngModelChange)="showDatePicker = false; day = $event"
                    [ngModel]="day"
                  />
                </div>
                <label for="hourOfFlight">Hora de inicio del vuelo</label>
                <div
                  name="hourOfFlight"
                  class=" hour clickable "
                  [attr.hour]="hour"
                  (click)="showHourPicker = true"
                  *ngIf="!showHourPicker"
                >
                  <h6>{{ hour }}</h6>
                  <input hidden="true" [(ngModel)] = "hour" name="hiddenHour" >
                </div>
                <div class="input-group flex-nowrap" *ngIf="showHourPicker">
                  <input
                    name="hourPickerForm"
                    type="time"
                    step="1800"
                    min="00:00"
                    max="23:30"
                    class="form-control"
                    aria-describedby="addon-wrapping"
                    [(ngModel)]="hour"
                  /><a (click)="showHourPicker = false" class="clickable"
                    ><div>Aceptar</div></a
                  >
                </div>
                <label for="timeOfFlight">Tiempo de vuelo</label>
                <div
                  name="timeOfFlight"
                  class=" time clickable "
                  [attr.tVuelo]="tVuelo"
                  (click)="showTimePicker = true"
                  *ngIf="!showTimePicker"
                >
                  <h6>{{ tVuelo }}</h6>
                  <input hidden="true" [(ngModel)] = "tVuelo"  name="hiddenTVuelo">
                </div>
                <div class="input-group flex-nowrap " *ngIf="showTimePicker">
                  <input
                    name="timePickerForm"
                    type="number"
                    step="30"
                    min="30"
                    max="240"
                    class="form-control"
                    aria-describedby="addon-wrapping"
                    [(ngModel)]="tVuelo"
                  /><a (click)="showTimePicker = false" class="clickable"
                    ><div>Aceptar</div></a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <label for="peopleOnBoard">Personas a bordo</label>
            <div
              name="peopleOnBoard"
              class=" people clickable "
              [attr.hour]="tVuelo"
              (click)="showPeopleOBPicker = true"
              *ngIf="!showPeopleOBPicker"
            >
              <h6>{{ peopleOnBoard }}</h6>
              <input hidden="true" [(ngModel)] = "peopleOnBoard" name="hiddenPeopleOB" >
            </div>
            <div class="input-group flex-nowrap " *ngIf="showPeopleOBPicker">
              <input
                name="peopleOBPickerForm"
                type="number"
                min="1"
                max="4"
                class="form-control"
                aria-describedby="addon-wrapping"
                [(ngModel)]="peopleOnBoard"
              /><a (click)="showPeopleOBPicker = false" class="clickable"
                ><div>Aceptar</div></a
              >
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                name="instructor"
                type="checkbox"
                id="instructor"
                [(ngModel)]="needInstructor"
              />
              <label class="form-check-label" for="instructor">
                Necesita instructor
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="showPeopleOBPicker = false;
        showDatePicker = false;
        showHourPicker = false;
        showTimePicker = false;
        updateDataFlight(form);"
      >
        Save
      </button>
    </div>
  </form>
</ng-template>
