
  <div
    id="{{ id }}"
    class="buttonTask d-flex flex-column "
    (mousedown) = "mouseDownEvent($event)"
    (mouseup) = "mouseUpEvent($event)"
    (mousemove) = "mouseMoveEvent($event)"
    (click) = "onDblClickEvent($event,showFlightTemplate)"
      title="{{ id }}"
    [ngStyle]="buttonStyle"
  >
    <div class="d-flex justify-content-end actions">
      <div>
        <a> <i class="fa fa-edit  fa-1x"></i></a>
      </div>
      <div class="">
        <i class="fa fa-trash  fa-1x"></i>
      </div>
    </div>
    <div>
      <div class="hour txt" id="{{ id }}" *ngIf="height > 2">H. Inicio: {{ hour }}</div>
      <div class="tVuelo txt" id="{{ id }}" *ngIf="height > 2">
        T. Vuelo: {{ tVuelo }} min.
      </div>
    </div>
    <div
    id="{{ id }}"
      class="resizingArea mt-auto "
      [ngStyle]="{ 'height.rem': heightRsz}"
      (mouseleave)="mouseLeaveEvent($event)"
      (mousedown)="mouseDownEvent($event)"
    ></div>
  </div>



  <ng-template #showFlightTemplate>
    <p>Voy pallá</p>
  </ng-template>