<div class="button">
  <div
    id="{{ id }}"
    class="buttonTask d-flex flex-column "
    (mouseenter)="mouseEnterEvent($event)"
      title="{{ id }}"
    [ngStyle]="{ 'height.rem': height, 'top.rem': top }"
  >
    <div class="d-flex justify-content-end">
      <div>
        <a> <i class="fa fa-edit  fa-1x"></i></a>
      </div>
      <div class="">
        <i class="fa fa-trash  fa-1x"></i>
      </div>
    </div>
    <div>
      <div class="hour txt" *ngIf="height > 2">H. Inicio: {{ hour }}</div>
      <div class="tVuelo txt" *ngIf="height > 2">
        T. Vuelo: {{ tVuelo }} min.
      </div>
    </div>
    <div
      class="resizingArea mt-auto "
      [ngStyle]="{ 'height.rem': heightRsz }"
      (mouseleave)="mouseLeaveEvent($event)"
      (mousedown)="mouseDownEvent($event)"
    ></div>
  </div>
</div>
