<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4">Aeroaljarafe. Central de reservas</h1>
    <p class="lead">Bienvenido a la central de reservas de Aeroaljarafe</p>
    <hr class="my-4" />
    <p>
      En este sitio puedes realizar una reserva para un vuelo, con instructor o sin
      él, eligiendo el avión que esté disponible y para el que estés habilitado.
      Asímismo puedes anular la reserva y hacer el cierre del vuelo con los datos
      del mismo e incluso proceder al pago vía tarjeta de crédito o paypal
    </p>
    <div class="footer d-flex justify-content-end flex-column bd-highlight ">
      <a href="login" class="btn btn-primary btn-lg p-2 bd-highlight" 
        >Login</a
      >
      <div class="entrada d-flex justify-content-end">
        <a href="signup" class="p-2 bd-highlight">No tengo cuenta</a>
        <form id="enter" enctype="multipart/form-data" name="enter">
          <input type="button" value="Entrar" ng-click="getRandomUser()" />
        </form>
      </div>
    </div>
  </div>
</div>
