<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">
          <h3 class="list-group-item-header">Editar {{ brand.brand }}</h3>
        </li>
        <li class="list-group-item">
          <div class="row h-100">

              <div class="card">
                <div style="text-align: center">
                 <img
                  src="../../../../assets/images/{{ brand._id }}.{{
                    brand.extension
                  }}"
                  alt="imagen"
                  class="card-img-top center"
                  style="width:50%"
                /> 
                </div>
                <form
                  method="POST"
                  class="link right-space"
                  enctype="multipart/form-data"
                >
                <div class="form-group">
                    <label for="brand" style="padding-left: 6px">
                      Marca
                    </label>
                    <input
                      type="text"
                      id="brand"
                      name="brand"
                      placeholder="Marca de avión"
                      required="true"
                      class="form-control"
                      [(ngModel)]="brand.brand"
                    />
                  </div>

                    <app-imgcropper></app-imgcropper>

                  <div class="card-footer">
                    <input
                      type="submit"
                      value="Modificar"
                      class="btn btn-success btn-block btn-sm"
                      mwlConfirmationPopover
                      [popoverTitle]="popoverTitle"
                      [popoverMessage]="popoverMessage"
                      [confirmText]="confirmText"
                      [cancelText]="cancelText"
                      (confirm)="saveBrand()"
                      [appendToBody]="true"
                    />
                  </div>
                </form>
              </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
