<div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <h2>Lista de Aeronaves</h2>
        <div class="table-responsive"  *ngIf="planes; else elseBlock" >
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Aeronave</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let plane of planes">
                <td>
                  <a>
                    <img
                      src="../../../../assets/images/{{ plane._id }}.{{
                        plane.extension
                      }}"
                      alt="imagen"
                      class="card-img-top "
                    />
                  </a>
                </td>
                <td>
                  {{ plane.model.brand.brand }}
                  {{ plane.model.model }}
                  {{ plane.plate }}
                </td>
                <td>
                  <div class="d-flex justify-content-end">
                    <a [routerLink]="['/plane/edit', plane._id]"
                      ><i class="fa fa-edit  fa-2x"></i
                    ></a>
                  </div>
                </td>
                <td>
                  <div class="">
                    <i
                      class="fa fa-trash  fa-2x"
                      mwlConfirmationPopover
                      [popoverTitle]="popoverTitle"
                      [popoverMessage]="popoverMessage"
                      [confirmText]="confirmText"
                      [cancelText]="cancelText"
                      (confirm)="this.deletePlane(plane._id)"
                      [appendToBody]="true"
                    ></i>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #elseBlock>No existen Aeronaves en la BD</ng-template>
        <div>
          <form class="link right-space">
            <input
              type="submit"
              value="Nuevo"
              class="btn btn-primary"
              [routerLink]="['/planes/new']"
            />
          </form>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </div>
  </div>
  