<div
  class="container calendar row"
  [attr.height]="heigth"
  (mouseup)="mouseUpEvent($event)"
  (mousedown)="mouseDownEvent($event)"
>
  <div class="board col" *ngFor="let plane of planeList">
    <div
      class="cell"
      *ngFor="let hour of hourList"
      [attr.hour]="hour"
      [attr.plane]="plane.id"
    >
      {{ hour }}
      <!-- <app-row> </app-row> -->
    </div>

    <div *ngFor="let task of (tasksList | keyvalue)">
      <app-task
        *ngIf="plane.id == task.value.plane"
        [id]="task.value.id"
        [hour]="task.value.hour"
        [plane]="plane.id"
        [height]="task.value.height"
        [task]="task.value"
      ></app-task>
    </div>
  </div>
</div>
